# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#ignore all .bin files that are in the root directory
/*.bin

.gitignore


#ignore .idea in root directory
/.idea/

#ignore cmake in root directory
/cmake-build-debug/
